<p id="notice"><%= notice %></p>

<h1>Birds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Breed</th>
      <th>Image</th>
      <th>Age</th>
      <th>Toys</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @birds.each do |bird| %>
      <tr>
        <td><%= bird.name %></td>
        <td><%= bird.breed %></td>
        <td><%= image_tag bird.image, width: 200 %></td>
        <td><%= bird.age %></td>
        <td><%= bird.toys %></td>
        <td><%= link_to 'Show', bird %></td>
        <% if logged_in? %>
          <td><%= link_to 'Edit', edit_bird_path(bird) %></td>
          <td><%= link_to 'Destroy', bird, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if logged_in? %>
  <%= link_to 'New Bird', new_bird_path %>
<% end %>
