<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bird.name %>
</p>

<p>
  <strong>Breed:</strong>
  <%= @bird.breed %>
</p>

<p>
  <strong>Image:</strong>
  <%= @bird.image %>
</p>

<p>
  <strong>Age:</strong>
  <%= @bird.age %>
</p>

<p>
  <strong>Toys:</strong>
  <%= @bird.toys %>
</p>

<% if logged_in %>
  <%= link_to 'Edit', edit_bird_path(@bird) %> |
<% end %>
<%= link_to 'Back', birds_path %>
