<h1>Dinosaurs</h1>

<% dinos.forEach((dino) => { %>
	<h2><a href="./dinos/<%= dino.id %>"><%= dino.name %></a></h2>
  <h4><%= dino.age %></h4>
  <p><%= dino.species %></p>
  <p><%= dino.image %></p>
<% }) %>
