<p id="notice"><%= notice %></p>

  <h1>Venues</h1>
  <p class="intro">Find out more about some of the best drag and cabaret venues in the world. Are we missing a great bar? Let us know! <%= link_to 'Add a new venue', new_venue_path %></p>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>City</th>
      <th>Country</th>
      <th>Opened</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= image_tag venue.image, width: 200 %></td>
        <td><%= venue.name %></td>
        <td><%= venue.city %></td>
        <td><%= venue.country %></td>
        <td><%= venue.opened %></td>
        <td><%= link_to 'Read more', venue %></td>
        <td><%= link_to 'Edit this venue', edit_venue_path(venue) %></td>
        <td><%= link_to 'Delete', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
