<p id="notice"><%= notice %></p>
<main>
  <h1>
    <%= @venue.name %>
  </h1>

  <p>
    <%= image_tag @venue.image, width: 400 %>
  </p>

  <p>
    <%= @venue.name %> is a bar in <%= @venue.city %>, <%= @venue.country %>. It first opened in <%= @venue.opened %>.
  </p>
  <p>
    <%= link_to 'Edit this venue', edit_venue_path(@venue) %> |
    <%= link_to 'All venues', venues_path %>
  </p>
</main>
