<%= form_for(queen) do |f| %>
  <% if queen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(queen.errors.count, "error") %> prohibited this queen from being saved:</h2>

      <ul>
      <% queen.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :nationality %>
    <%= f.text_field :nationality %>
  </div>

  <div class="field">
    <%= f.label :hometown %>
    <%= f.text_field :hometown %>
  </div>

  <div class="field">
    <%= f.label :quotes %>
    <%= f.text_area :catchphrases %>
  </div>

  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>

  <div class="field">
    <%= f.label :venues %>
    <%= f.collection_check_boxes :venue_ids, Venue.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
