<p id="notice"><%= notice %></p>

<h1>Queens</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Nationality</th>
      <th>Hometown</th>
      <th>Catchphrases</th>
      <th>Website</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @queens.each do |queen| %>
      <tr>
        <td><%= queen.name %></td>
        <td><%= image_tag queen.image, width: 200 %></td>
        <td><%= queen.description %></td>
        <td><%= queen.nationality %></td>
        <td><%= queen.hometown %></td>
        <td><%= queen.catchphrases %></td>
        <td><%= queen.website %></td>
        <td><%= link_to 'Show', queen %></td>
        <td><%= link_to 'Edit', edit_queen_path(queen) %></td>
        <td><%= link_to 'Destroy', queen, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Queen', new_queen_path %>
