<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @queen.name %>
</p>

<p>
  <%= image_tag @queen.image, width:300 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @queen.description %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @queen.nationality %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @queen.hometown %>
</p>

<p>
  <strong>Catchphrases:</strong>
  <%= @queen.catchphrases %>
</p>

<p>
  <strong>Website:</strong>
  <%= @queen.website %>
</p>

<p>
  <strong>Venues:</strong>
    <% @queen.venues.each do |venue| %>
      <%= venue.name %>
    <% end %>
</p>

<%= link_to 'Edit', edit_queen_path(@queen) %> |
<%= link_to 'Back', queens_path %>
