<!DOCTYPE html>
<html>
  <main class="container">
    <body>

      <p>
        Aren't quotes great? Let's read some.
      </p>
      <br>
      <br>

      <% for(var i=0; i<quotes.length; i++) { %>
        <div>
          <a href="/quotes/<%= quotes[i].id %>"><h3><%= quotes[i]['text'] %></h3></a>
            <h4><%= quotes[i]['name'] %></h4>
            <br>
            <div class="buttons">
              <a class="btn btn-primary" href="/quotes/<%= quotes[i].id %>/edit">Edit</a>

              <form action="/quotes/<%= quotes[i].id %>" method="post" class="delete">
                <input type="hidden" name="_method" value="delete">
                <button class="btn btn-primary">Delete</button>
              </form>
              <br>
              <br>
            </div>

        </div>
      <% } %>

    </body>
  </main>
</html>
